@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Productos";
}

<section class="section-50 section-sm-top-90 section-sm-bottom-100 ">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="col-md-10">
                <div class="row product-list-item">
                    <div class="col-sm-4 col-xs-12">
                        <img src="../Content/images/bloque_categorias/pizzas.jpg" alt="" width="310" height="260" class="img-responsive reveal-inline-block" />
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-sm-8 col-xs-12">
                                <div class="row">
                                    <span class="product-description">es una super pizza llena de mmuzarella lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
                                </div>
                                <div class="row">
                                    <h3>Precio $150</h3>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="row buttons">
                                    <div class="col-xs-12">
                                        <input type="text" value="1" class="cantity-box" name="cantity" id="qty_id" />
                                        <a href="#" class="btn btn-default qty" id="btnPlus_id">+</a>
                                        <a href="#" class="btn btn-default qty" id="btnMinus_id">-</a>
                                    </div>
                                    <div class="col-xs-12 cartButton">
                                        <a href="#" class="btn btn-default"><span class="icon icon-sm mdi mdi-cart-outline"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script type="text/javascript">
        
    </script>
}



