@model IEnumerable<pizeria.Models.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Productos";
}

<section class="section-50 section-sm-top-90 section-sm-bottom-100 ">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="col-md-10">

                @foreach (var item in Model)
                {
                    if (item.Categoria == ViewBag.categoriaProducto)
                    {
                        <div class="row product-list-item" style="margin-bottom: 40px">
                            <div class="col-md-4">
                                <!--<img src="../Content/images/bloque_categorias/pizzas.jpg" alt="" width="310" height="260" class="img-responsive reveal-inline-block" />-->
                                <img src="@item.UrlImagen" alt="" width="310" height="260" class="img-responsive reveal-inline-block" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <span class="product-description">@item.Descripcion</span>
                                        </div>
                                        <div class="row">
                                            <h3>Precio $@item.Precio</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" value="1" class="cantity-box" name="cantity" />
                                                <a href="#" class="btn btn-default">+</a>
                                                <a href="#" class="btn btn-default">-</a>
                                            </div>
                                            <div class="col-md-12">
                                                <a href="#" class="btn btn-default">Agregar al carrito</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>



