@model IEnumerable<pizeria.Models.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Productos";
}

<section class="section-50 section-sm-top-90 section-sm-bottom-100 ">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="col-md-10">

                @foreach (var item in Model)
                {
                    if (item.Categoria == ViewBag.categoriaProducto)
                    {
                        <div class="row product-list-item" style="margin-bottom: 40px">
                            <div class="col-md-4">
                                <!--<img src="../Content/images/bloque_categorias/pizzas.jpg" alt="" width="310" height="260" class="img-responsive reveal-inline-block" />-->
                                <img src="@item.UrlImagen" alt="" width="310" height="260" class="img-responsive reveal-inline-block" />
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <span class="product-description">@item.Descripcion</span>
                                        </div>
                                        <div class="row">
                                            <h3>Precio $@item.Precio</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="number" value="1" class="cantity-box" id="qty_@item.ID" style="background-color: white"/>
                                                @*<a href="#" class="btn btn-default">+</a>*@
                                                @*<a href="#" class="btn btn-default">-</a>*@
                                            </div>
                                            <div class="col-md-12">
                                                <a href="#" class="btn btn-default" onclick="addToChart(@item.ID)"><i class="fas fa-user"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        function addToChart(id) {
            let qty = $("#qty_" + id).val();
            alert(qty)
            obj = {
                id: id,
                qty: qty
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("addProductToChart", "Pedidos")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj) ,
                dataType: "json",
                success: function (pedido) {
                    alert(pedido.productos.length)
                    $("#cart-qty").html(pedido.productos.length);
                    //pedido.productos.forEach(function (producto) {
                    //    pedido.productos.lenght;
                    //});

                },
                error: function (a, jqXHR, exception) {
                    alert(a + ' - ' + jqXHR + ' - ' + exception)
                }
            });

        }
    </script>
}



