@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Productos";
}

<section class="section-50 section-sm-top-90 section-sm-bottom-100 ">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="col-md-10">
                <div class="product-list-item">
                    <img src="../Content/images/bloque_categorias/pizzas.jpg" alt="" width="310" height="260" class="img-responsive reveal-inline-block" />
                    <div class="product-description">es una super pizza llena de mmuzarella lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                </div>
            </div>
        </div>
    </div>
</section>



